.Banner {
  position: relative;
  width: 100%;
}

.textContainer h3 {
  position: absolute;
  z-index: 1;
  color: #696969;
  font-size: 7rem;
  top: 30%;
  left: 20%;
}
.textContainer p {
  position: absolute;
  z-index: 1;
  color: #696969;
  font-size: 4rem;
  top: 50%;
  left: 35%;
  margin-top: 20px;
}
.textContainer span {
  color: rgb(113, 113, 229);
  font-weight: bold;
}
